<div class = "field-new">

<h1>Add new field</h1>

	<%= form_for [@desk, @field] do |f| %>

		<%= f.label :name %>
		<%= f.text_field :name %>

		<p><%= f.label :win, "Please check if, field is winning" %>
		<%= f.check_box :win %></p>

		<%= f.submit "Add field" %>
		
	<% end %>

	<p><%= link_to "back to desk page", @desk  %></p>
	
</div>